
    <div class="product-details"> <a href="#" title="Remove This Item" class="remove-cart"><i class="icon-close"></i></a>
    <p class="product-name"><a href="shopping_cart.html">{{ $cartItem['productInfo']['name'] }}</a> </p>
    <strong>{{ $cartItem['quantity'] }}</strong> x <span class="price">{{ number_format($cartItem['productInfo']['price'],0,'',',') }} đ</span> </div>
</li>
